.details-background {
  color: white;
  padding-top: 100px;

  @media screen and (max-width: 445px) {
    padding-top: 170px;
  }
}

.details {
  display: flex;
  flex-direction: column;

  & h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    &__image-container,
    &__text-container {
      max-width: 500px;
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & a {
        text-decoration: none;
        color: #539dff;
        font-weight: 500;
        transition:
          color 0.3s,
          transform 0.1s;

        &:hover {
          color: #1558b0;
          text-decoration: underline;
        }

        &:active {
          transform: scale(0.97);
          color: #0d3c85;
        }
      }
    }

    & img {
      width: 100%;
      object-fit: cover;
    }
  }
}
