.carousel {
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    padding: 1rem;
    gap: 2rem;
  }

  &__arrow {
    font-size: 3rem;
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;

    transition: transform 0.3s ease-in-out;

    @media screen and (max-width: 500px) {
      font-size: 2rem;
    }

    &:hover {
      transform: scale(1.5);
    }
  }
}
