.return-btn {
  display: flex;
  gap: 2rem;

  &__item {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 22px;
    cursor: pointer;

    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
      background-color: blue;
      color: white;
    }

    &:active {
      background-color: green;
    }
  }
}
