@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px; // pour utiliser rem facilement
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
}

nav {
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}
