$main-txt-color: white;

$header-bg: linear-gradient(181deg, #ff7c00, #190bef);
$header-shadow: inset 0px 0px 20px 6px #89fff4a1;

$cv-bg: #b94816cf;

$ghub-link-color: #1558b0;
$ghub-link-active: #0d3c85;

$card-btn-bg: #007bff;
$card-btn-bg-hover: #0056b3;

$send-btn-bg: linear-gradient(135deg, #ff6ec4, #7873f5);
$send-btn-bg-active: linear-gradient(135deg, #d94a9e, #5a50c8);

$success-form-btn: #28a745;
$failed-form-btn: #dc3545;

$detail-ghub-link: #f3ff53;
