@use "../../styles/variables" as v;

.header-background {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: v.$header-bg;
  box-shadow: v.$header-shadow;
}

.navbar {
  gap: 5.5rem;
  padding: 1rem;

  @media screen and (max-width: 1024px) {
    gap: 3rem;
  }

  @media screen and (max-width: 768px) {
    gap: 1rem;
  }

  &__item {
    &:hover {
      transform: scale(1.2);
    }

    & a {
      color: v.$main-txt-color;
      font-size: 22px;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }

    & img {
      height: 50px;
    }
  }
}
