@use "../styles/variables" as v;

.contact {
  color: v.$main-txt-color;
  padding: 3rem 1rem;

  &__form {
    border: 2px solid #ffffffd1;
    border-radius: 30px;
    padding: 2rem;
    max-width: 500px;

    input,
    textarea {
      padding: 0.75rem;
      font-size: 1rem;
      border: none;
      border-radius: 4px;
    }

    textarea {
      resize: none;
      min-height: 150px;
    }

    button {
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 8px;
      color: v.$main-txt-color;
      font-weight: 600;
      background: v.$send-btn-bg;
      cursor: pointer;
      transition:
        transform 0.25s ease,
        box-shadow 0.25s ease,
        background 0.25s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(255, 110, 196, 0.6);
      }

      &:active {
        transform: scale(0.98);
        background: v.$send-btn-bg-active;
        box-shadow: 0 0 10px rgba(90, 80, 200, 0.5) inset;
      }
    }
  }
  &__notification {
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.3s ease;
    animation: fadeIn 0.3s ease;
    color: v.$main-txt-color;

    &::before {
      content: "🔔 ";
    }

    background-color: v.$success-form-btn;

    &.error {
      background-color: v.$failed-form-btn;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
