@use "../styles/variables.scss" as v;

.footer {
  background: url(/assets/backgrounds/navbar.webp);
  background-repeat: no-repeat;
  padding: 4rem;
  color: v.$main-txt-color;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
