.header-background {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(181deg, #ff7c00, #190bef);
  box-shadow: inset 0px 0px 20px 6px #89fff4a1;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5.5rem;
  padding: 1rem;

  @media screen and (max-width: 1024px) {
    gap: 3rem;
  }

  @media screen and (max-width: 768px) {
    gap: 1rem;
  }

  &__item {
    &:hover {
      transform: scale(1.2);
    }

    & a {
      color: white;
      font-size: 22px;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }

    & img {
      height: 50px;
      object-fit: contain;
    }

    &:last-child {
      text-align: right;
    }
  }

  &__logo {
    text-align: left;
  }
}

.theme-btn {
  cursor: pointer;
  width: 38px;

  &:hover {
    transform: scale(1.2);
  }
}
