@use "../styles/variables" as v;

.hero-background {
  background: url(/assets/backgrounds/hero.webp);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 100px;
  color: rgb(229 229 229 / 97%);

  @media screen and (max-width: 768px) {
    background-attachment: scroll !important;
  }

  @media screen and (max-width: 559px) {
    padding-top: 150px;
  }

  @media screen and (max-width: 369px) {
    padding-top: 190px;
  }
}

.hero {
  &__content {
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__photo {
    width: 25%;

    & img {
      max-width: 150px;
      border-radius: 15px;
    }
  }

  &__presentation {
    flex: 1;

    & p {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .btn--cv {
    background-color: v.$cv-bg;
    color: v.$main-txt-color;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;

    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}
