.skills {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__content {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
  }

  &__tools,
  &__frameworks {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color: #ddd;
  }

  &__h3 {
    text-align: center;
  }

  &__logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
