@use "../styles/variables" as v;

.skills-background {
  color: v.$main-txt-color;
}

.skills {
  &__logos {
    filter: brightness(1.2);

    & a {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
        filter: brightness(1.5);
      }
    }

    & img {
      width: 65px;
      height: 65px;
      object-fit: cover;
    }
  }
}
