.skills {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__content {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__tools,
  &__frameworks {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    background-color: #ddd;
  }

  &__h3 {
    text-align: center;
  }

  &__logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    & a {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    & img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  }
}
